# Maven target directory
/target/

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

/terraform/.terraform/
*.jar 

.vscode/
/apps/order-service/target/
.DS_Store
Thumbs.db

apps/order-service/.mvn/wrapper/maven-wrapper.properties
apps/order-service/.mvn/wrapper/MavenWrapperDownloader.java
